.aplayer.aplayer-fixed.aplayer-narrow .aplayer-body {
    left: -71px !important;
    /* 默认情况下缩进左侧71px，只留一点箭头部分 */
  }
  
  .aplayer.aplayer-fixed.aplayer-narrow .aplayer-body:hover {
    left: 0 !important;
    /* 鼠标悬停是左侧缩进归零，完全显示按钮 */
  }

body{
    background: url(https://smms.app/image/6dtYxrmbKvW4eAE);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}